stages:
  - test

unit-test:
  stage: test
  image: python:3.11-slim
  before_script:
    - pip install -r requirements.txt
  script:
    - python -m pytest tests/ --ignore=tests/test_regression.py -v
