WITH current_period AS (
    {{ base_query | indent(4) }}
),
previous_period AS (
    {{ base_query_prev | indent(4) }}
)
SELECT
    c.period AS current_period
    , p.period AS previous_period
    , c.{{ metric_col }} AS current_value
    , p.{{ metric_col }} AS previous_value
    , (c.{{ metric_col }} - p.{{ metric_col }}) / NULLIF(p.{{ metric_col }}, 0) AS change_rate
FROM current_period c
LEFT JOIN previous_period p
    ON c.period IS NOT NULL AND p.period IS NOT NULL
{%- if has_market %}
    AND c.market = p.market
{%- endif %}
