SELECT
    substr(cast({{ source.columns.date }} as varchar), 1, 7) AS period
{%- if market %}
    , {{ source.columns.region }} AS market
{%- endif %}
    , {{ metric.aggregation }}({{ source.columns.value }}) AS {{ metric.name | lower | replace(' ', '_') }}
FROM
    (
        SELECT
            {{ source.columns.region }}
            , {{ source.columns.date }}
            , {{ source.columns.value }} AS {{ metric.name | lower | replace(' ', '_') }}_raw
        FROM {{ source.table }}
        WHERE {{ source.columns.date }} BETWEEN date '{{ date_start }}' AND date '{{ date_end }}'
{%- for f in source.filters %}
            AND {{ f }}
{%- endfor %}
{%- if market %}
            AND {{ source.columns.region }} = '{{ market }}'
{%- endif %}
        GROUP BY 1, 2
    ) daily
GROUP BY 1{% if market %}, 2{% endif %}
ORDER BY 1 DESC
